<div class="row">
  <div class="small-2 push-10 columns">
    <a href="/budget/add">Add</a>
  </div>
</div>

<div class="row">
  <table class="table small-10 push-1 columns">
    <tr>
      <th>Name</th>
      <th>Limit</th>
      <th>Progress</th>
      <th>Left</th>
      <th>Edit</th>
    </tr>
    <tr ng-repeat="budget in budgets">
      <td>{{ budget.name }}</td>
      <td>{{ budget.limit | currency }}</td>
      <td><d3-budget-progress max="{{ budget.limit }}" current="{{ budget.remaining }}"/></td>
      <td>{{ budget.remaining | currency}}</td>
      <td>
        <a ng-href="/budget/{{ budget.id }}">
          <i class="edit pencil icon"></i>
        </a>
      </td>
    </tr>
  </table>
</div>