<div class="row">

  <div class="small-3 columns">
    <!--Sidebar-->
    <div>
      <i class="icon-search"></i> Search:
      <input class="small-12 columns" ng-model="query">
    </div>
  </div>

  <div class="small-9 columns">
    <!--Body-->
    <table class="table">
      <tr>
        <th>
          When
          <sort-toggle name="orderProp" value="date" />
        </th>
        <th>
          What
          <sort-toggle name="orderProp" value="name" />
        </th>
        <th>
          Amount
          <sort-toggle name="orderProp" value="amount" />
        </th>
        <th>
          Category
          <sort-toggle name="orderProp" value="category" />
        </th>
      </tr>

      <tr>
        <form>
          <td><input type="text" ng-model="newTrans.date" required/></td>
          <td><input type="text" ng-model="newTrans.name" required/></td>
          <td><input type="text" ng-model="newTrans.amount" required/></td>
          <td><input type="text" ng-model="newTrans.category" required/></td>
          <td><button class="tiny" ng-click="create()">+</button></td>
        </form>
      </tr>

      <tr ng-repeat="trans in transactions | filter:query | orderBy:orderProp">
        <td>{{trans.date | date}}</td>
        <td>
          <a href="/transaction/{{ trans.id }}">{{trans.name}}</a>
        </td>
        <td>{{trans.amount | currency}}</td>
        <td>{{trans.category}}</td>
      </tr>

    </table>
  </div>


</div>
