<div class="row spaced">
  <div class="small-5 columns">
    <div>
      <i class="icon-search"></i> Search:
      <input class="small-12 columns" ng-model="query">
    </div>
  </div>
</div>

<div class="row spaced">
  <div class="small-12 columns">
    <table class="table small-12 columns">

      <thead>
        <tr>
          <th>
            When <sort-toggle name="orderProp" value="purchase_date" />
          </th>
          <th>
            Where <sort-toggle name="orderProp" value="merchant" />
          </th>
          <th>
            Amount <sort-toggle name="orderProp" value="amount" />
          </th>
          <th>
            Category <sort-toggle name="orderProp" value="category" />
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="trans in transactions | filter:query | orderBy:orderProp">
          <td>{{trans.purchase_date | date}}</td>
          <td>
            <a href="/transaction/{{ trans.id }}">{{trans.merchant}}</a>
          </td>
          <td>{{trans.total | currency}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
